<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
	
	<table width="60%" cellpadding="0" cellspacing="0" class="texte" rules="all">
	   <caption align="bottom">Export of catalog <%TAG_TITLE%></caption>
	   <thead>
		  <tr>
			 <th><%TAG_ITEMHEADER%></th>
		  </tr>
	   </thead>
	   <tfoot>
		 <tr>
			 <td><%TAG_ITEMHEADER%></td>
		  </tr>
	   </tfoot>
	   <tbody>
	   <%TAG_ITEM%><tr bgcolor="lightsteelblue">
			<td><%TAG_ITEMDATA%></td>
	   </tr><%TAG_ITEM%>
	   </tbody>
	</table>

	</body>
</html>